/* Płynne przejścia dla wszystkich elementów */
* {
    transition: all 0.2s ease-in-out;
}

/* Kustomizacja paska przewijania (scrollbara) */
/* Szerokość paska przewijania */
::-webkit-scrollbar {
    width: 10px;
}

/* Styl uchwytu paska przewijania (scrollbar thumb) */
::-webkit-scrollbar-thumb {
    background-color: #4B5563;
    border-radius: 5px;
}

/* Styl tła paska przewijania (track) */
::-webkit-scrollbar-track {
    background: #F3F4F6;
}

/* Efekt po najechaniu kursorem na przyciski filtrów */
.filter-btn:hover {
    background-color: #93C5FD;
    color: white;
}

/* Styl dla zakończonych zadań */
/* Przekreślenie tekstu i szary kolor */
.task-done {
    text-decoration: line-through;
    color: #9CA3AF;
}
